

/*
    Color Scheme
    Blue1: #15348F
    Blue2: #5983FF
    Blue3: #3760DB
    Gold1: #8F6907
    Gold2: #DBAE37
    Grey: #808080
    Silver: #c0c0c0
    White: #FFFFFF

    Fonts:
    font-family: 'Bitter', serif;
    font-family: 'Dancing Script', cursive;
*/

body {
    font-family: 'Bitter', serif;
    background-image: url('../images/pizzalogo3.png');
    background-size: auto;
    background-color: #C0C0C0;
}

.clear {
    clear: both;
}

/*Header Styling*/

header{
    background-color: #808080;
    padding: 3px 12px 3px 12px;
    color: #DBAE37;
}

.headerSubClass {
    background-color: #15348F;
    color: #FFFFFF;
    border: 2px solid #8F6907;
    padding: 6px;
    /*float: left;
    margin-left: 25%;*/
    margin-left: 16%;
}

header img{
    float: left;
    width: 15%;
    margin-top: 1em;
}

.socialMediaClass {
    text-align: right;
}

    .socialMediaClass a {
        background-color: #8F6907;
        color: #FFFFFF;
        padding: 0em 1.5em 0em 1.5em;
        margin: 0em .25em 0em .25em;
        border-radius: .4em;
    }

/*Main Styling and Classes*/

.borderClass {
    border: 2px solid #8F6907;
    /*background-color: #C0C0C0;*/
    background-color: rgba(192, 192, 192, .5);
    padding: 5px;
}

.insideMainClass {
    margin: 5px 5px 5px 25px;
    background-color: #C0C0C0;
    /*background-color: rgba(192, 192, 192, .5);*/
}

.teamName {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
}

/*section img{
    width: 4em;
}*/
/*switching to below, after complete remove above*/

ul img {
    width: 4em;
}

.menuBlock li {
    display: inline-block;
    padding: 2em;
}

#teamPhotoSection {
    /*background-color: #C0C0C0;*/
    background-color: rgba(192, 192, 192, .5);
    width: 45%;
    float: left;
    padding-right: 1em;
}

#teamBioSection {
    /*background-color: #C0C0C0;*/
    background-color: rgba(192, 192, 192, .5);
    width: 45%;
    float: right;
}

#teamPhotoSection img {
    width: 10em;

    /*float: right;*/
}

.menuTable{
    vertical-align: middle;
    white-space: normal;
}

    .menuTable img {
        width: 8em;
    }

td{
    width: 18em;
    padding: 2em;
}


/* Navigation Styling*/


nav {
    border: 2px solid #8F6907;
    background-color: #808080;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 10px;
    display: block;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: #15348F
}

a:hover, a:active, a:focus {
    background-color: #15348F;
    color: #8F6907;
    text-decoration: underline;
}

/*Footer Styling*/

footer {
    background-color: #15348F;
    color: #FFFFFF;
    border: 2px solid #8F6907;
    border-radius: 0em 0em .4em .4em;
    padding: 1em;
}

td {
    border: 2px solid #C0C0C0;
}

td:hover {
    border: 2px solid #8F6907;
}