

/*
    Color Scheme
    Blue1: #15348F
    Blue2: #5983FF
    Blue3: #3760DB
    Gold1: #8F6907
    Gold2: #DBAE37
    Grey: #808080
    Silver: #c0c0c0
    White: #FFFFFF

    Fonts:
    font-family: 'Bitter', serif;
    font-family: 'Dancing Script', cursive;
*/

body {
    font-family: 'Bitter', serif;
}

.headerClass{
    background-color: #808080;
    padding: 3px 12px 3px 12px;
    color: #DBAE37;
}

.headerSubClass {
    background-color: #15348F;
    color: #FFFFFF;
    border: 2px solid #8F6907;
    padding: 6px;
}

.borderClass {
    border: 2px solid #8F6907;
    background-color: #C0C0C0;
}

.insideMainClass {
    margin: 5px 5px 5px 25px;
    background-color: #C0C0C0;
}

.teamName {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
}

/* Navigation Styling*/


nav {
    border: 2px solid #8F6907;
    background-color: #808080;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 10px;
    display: block;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: #15348F
}

a:hover, a:active, a:focus {
    background-color: #15348F;
    color: #8F6907;
    text-decoration: underline;
}
